---
import "@fontsource-variable/inter"
import "@fontsource/cascadia-code"
import GoboscriptLogo from "../../public/goboscript.svg"
import Column from "../components/Column.astro"
import ConfigSection from "../components/ConfigSection.astro"
import ControlFlowSection from "../components/ControlFlowSection.astro"
import CustomBlocksSection from "../components/CustomBlocksSection.astro"
import EventsSection from "../components/EventsSection.astro"
import InstallationUsageSection from "../components/InstallationUsageSection.astro"
import ListsSection from "../components/ListsSection.astro"
import OperatorsSection from "../components/OperatorsSection.astro"
import StageSpritesSection from "../components/StageSpritesSection.astro"
import SyntaxSection from "../components/SyntaxSection.astro"
import VariablesSection from "../components/VariablesSection.astro"
import "../styles/main.css"
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="./goboscript.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>goboscript cheatsheet</title>
    </head>
    <body class="bg-neutral-400">
        <div
            class="w-[1056px] h-[816px] bg-white dark:bg-[#0d1117] shadow-xs dark:text-neutral-100"
        >
            <div class="grid auto-cols-fr grid-flow-col p-4 gap-4 w-full">
                <Column>
                    <div class="flex items-center gap-4">
                        <GoboscriptLogo />
                        <div class="flex flex-col">
                            <h2 class="text-neutral-600 dark:text-white/75 text-sm">
                                Overview & Reference
                            </h2>
                            <h1 class="text-2xl">goboscript cheatsheet</h1>
                        </div>
                    </div>
                    <InstallationUsageSection />
                    <ConfigSection />
                    <StageSpritesSection />
                </Column>
                <Column>
                    <SyntaxSection />
                    <OperatorsSection />
                    <VariablesSection />
                    <ControlFlowSection />
                </Column>
                <Column>
                    <ListsSection />
                    <EventsSection />
                    <CustomBlocksSection />
                </Column>
            </div>
            <div
                class="text-lg text-neutral-500 dark:text-white/50 grow flex items-center justify-center gap-1"
            >
                More features are documented at
                <span
                    class="text-blue-600 dark:text-blue-400 underline font-medium decoration-1 underline-offset-3"
                    >https://aspiz.uk/goboscript/docs</span
                >
            </div>
        </div>
    </body>
</html>
