---
import Section from "./Section.astro"
import SectionContent from "./SectionContent.astro"
import SectionHeader from "./SectionHeader.astro"
import SectionItem from "./SectionItem.astro"
import SectionItemCode from "./SectionItemCode.astro"
import SectionItemText from "./SectionItemText.astro"
---

<Section>
    <SectionHeader>Custom Blocks</SectionHeader>
    <SectionContent>
        <SectionItem>
            <SectionItemCode>proc block_name args {"{"} ... {"}"}</SectionItemCode>
            <SectionItemText>Runs without screen refresh</SectionItemText>
        </SectionItem>
        <SectionItem>
            <SectionItemCode>
                nowarp proc block_name {"{"} ... {"}"}
            </SectionItemCode>
            <SectionItemText>Runs with screen refresh</SectionItemText>
        </SectionItem>
        <SectionItem>
            <SectionItemCode>
                proc greet name="aspizu" {"{"} ... {"}"}
            </SectionItemCode>
            <SectionItemText>Default parameter values</SectionItemText>
        </SectionItem>
        <SectionItem>
            <SectionItemCode>$argument_name</SectionItemCode>
            <SectionItemText>Get custom block parameter value</SectionItemText>
        </SectionItem>
        <SectionItem>
            <SectionItemCode>local var_name = value;</SectionItemCode>
            <SectionItemText>Define a static scoped variable</SectionItemText>
        </SectionItem>
        <SectionItem>
            <SectionItemCode>func block_name(args) {"{"} ... {"}"}</SectionItemCode>
            <SectionItemText>Function that can return values</SectionItemText>
        </SectionItem>
        <SectionItem>
            <SectionItemCode>return value;</SectionItemCode>
            <SectionItemText>Return value from function</SectionItemText>
        </SectionItem>
    </SectionContent>
</Section>
