---
import Section from "./Section.astro"
import SectionContent from "./SectionContent.astro"
import SectionHeader from "./SectionHeader.astro"
import SectionItem from "./SectionItem.astro"
import SectionItemCode from "./SectionItemCode.astro"
import SectionItemText from "./SectionItemText.astro"
---

<Section>
    <SectionHeader>Installation & Usage</SectionHeader>
    <SectionContent>
        <SectionItem>
            <SectionItemCode>
                curl -fsSL https://aspiz.uk/goboscript.sh | sh
            </SectionItemCode>
        </SectionItem>
        <SectionItem>
            <SectionItemCode>goboscript new [NAME]</SectionItemCode>
            <SectionItemText>Create and initialize a new project</SectionItemText>
        </SectionItem>
        <SectionItem>
            <SectionItemCode>goboscript build [INPUT]</SectionItemCode>
            <SectionItemText>Compile project to .sb3</SectionItemText>
        </SectionItem>
        <SectionItem>
            <SectionItemCode>goboscript fmt [-i]</SectionItemCode>
            <SectionItemText>Reformat .gs files</SectionItemText>
        </SectionItem>
    </SectionContent>
</Section>
